*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.calculationWindow {
    background-color: rgb(110, 110, 110);
    color: #fff;
    text-align: right;
    font-weight: lighter;

    & > * {
        min-height: 1.5em;
    }
}

.buttonBlock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    background-color: lightgray;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border: .25vw solid darkgray;
    font-weight: bold;

    &.accent {
        background-color: rgb(218, 134, 31);
        color: #fff;
    }

    &.span-2 {
        grid-column: span 2;
        aspect-ratio: unset;
    }
}

